/* COMMON */
.container-fluid {
    /* test */
    height: 500px;

    width: 70%;
    border: 2px solid blueviolet;
    text-align: center;
}

img {
    width: 100%;
}

/* HEADER */
header {
    height: 80px;
    line-height: 80px;
    background-color: #2C3E50;
    text-transform: uppercase;
    font-weight: bold;

    /* test */
    border: 2px solid black;
}

ul {
    list-style: none;
}

.title-wrapper {
    color: white;
}

.menu-wrapper {
    text-align: right;
    color: white;
}

.menu li {
    display: inline-block;
    margin: 0 .5rem;
}

.menu a {
    color: inherit;
    text-decoration: none;
}

.burger {
    display: none;
    color: gray;
}

.burger i {
    font-size: 1.3rem;
    border: 1px solid white;
    padding: .5rem .7rem;
    border-radius: .3rem;
}

@media screen and (max-width:768px) {
    .menu {
        display: none;
    }

    .burger {
        display: block;
    }
}

/* MAIN */

/* start */
.section-start {
    /* test */
    height: 300px;
    border: 2px solid black;

    background-color: #1ABC9C;
    text-align: center;
}

.avatar img{
    width: 100%;
}
/* portfolio */
.section-portfolio {
    /* test */
    height: 500px;
    border: 2px solid black;

    background-color: #BA4B63;
    text-align: center;
}

/* about */
.section-about {
    /* test */
    height: 500px;
    border: 2px solid black;

    background-color: #1ABC9C;
}

/* contact */
.section-contact {
    /* test */
    height: 500px;
    border: 2px solid black;
}

/* social */
.section-social {
    /* test */
    height: 300px;
    border: 2px solid black;

    background-color: #3A546D;
    text-align: center;
}

/* FOOTER */
footer {
    height: 80px;
    background-color: #2C3E50;
    text-align: center;
    line-height: 80px;
}